*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.boolando-nav{
    background-color: rgb(255, 119, 0);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.conteiner{
    height: 50px;
    width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    margin: auto;

}


.nav{
    display: flex;
}

.sex{
    display: flex;
    list-style: none;
    height: 100%;
    width: 400px;
   
}

.sex a {
    color: white;
	display: flex;
	padding-inline: 1.5em;
	height: 100%;
    text-decoration-line: none;
}
.logo{
    width: 400px;
    height: 30px;
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icone-nav{
    color: white;
}

.conteiner-main{

    margin: auto;
    height: 1400px;
    width: 1200px;

    position: relative;
    top: 100px;
    

}

.one{
    height: 570px;
    width: 350px;
    position: absolute;
    left: 0; 
}
.two{
    height: 570px;
    width: 350px; 
    position: absolute;
    left: 450px;
}

.three{
    height: 570px;
    width: 350px;
    position: absolute;
    left: 850px;

}
.four{
    height: 570px;
    width: 350px;
    position: absolute;
    left: 0;
    top: 650px;
}
.five{
    height: 570px;
    width: 350px;
    position: absolute;
    left: 450px;
    top: 650px;
}
.six{
    height: 50px;
    width: 350px;
    position: absolute;
    left: 850px;
    top: 650px;
}

.levis{
    width: 350px;
    height: 500px;
}
.levis:hover{
    opacity: 0%;
}
.one-due{
    background-image: url(../img/1b.webp);
    background-size: contain;
}
.guess{
    width: 350px;
    height: 500px;
}
.guess:hover{
    opacity: 0%;
}
.two-due:hover{
    background-image: url(../img/2b.webp);
    background-size: contain;
}
.green{
    height: 500px;
    width: 350px;
}
.green:hover{
    opacity: 0%;
}
.three-due:hover{
    background-image: url(../img/3b.webp);
    background-size: contain;
}
.jeans{
    height: 500px;
    width: 350px;
}
.jeans:hover{
    opacity: 0%;
}

.four-due:hover{
    background-image: url(../img/4b.webp);
    background-size: contain;
}
.maya-deluxe{
     height: 500px;
    width: 350px;
}
.maya-deluxe:hover{
    opacity: 0%;
}

.five-due:hover{
    background-image: url(../img/5b.webp);
    background-size: contain;
}
.black-pullover{
    height: 500px;
    width: 350px;
}
.six-due:hover{
    background-image: url(../img/6b.webp);
    background-size: contain;
}

.black-pullover:hover{
    opacity: 0%;

}

.price{
    color:red;
}
h1{
    font-size: 20px;
}

p{
    font-size: 10px;
}
.fa-solid.fa-heart{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 0;

}


.fa-solid.fa-heart.heart-red:hover{
    color: red;
}
.sconto{
    color: white;
    width: auto;
    height: auto;
    background-color: red;
    position: absolute;
    bottom: 100px;

}
span{
    color: black;
   text-decoration: line-through;
}

.sostenibilita{
    color: white;
    width: auto;
    height: auto;
    background-color: forestgreen;
    position: absolute;
    bottom: 100px;
    left: 40px;
}

.sostenibilita-1{
        color: white;
        width: auto;
        height: auto;
        background-color: forestgreen;
        position: absolute;
        bottom: -420px;
}

.footer-nav{
    margin: auto;
    width: 1200px;
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.footer{
    text-decoration: none;
}
.politicaly{
 
    width: 450px;
      color: white;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	height: 100%;
    list-style: none;
}
.trovaci{
}
.loghi{
    color: white;
    text-align: center;
}
footer{
    background-color: black;
}


h2{
    color: white;
    text-align: left;
}